<?xml version="1.0"?>
<launch>

  <gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_diff_drive.so">
        <!-- Update rate -->
        <update_rate>50</update_rate>
        <!-- Number of wheel pairs -->
        <num_wheel_pairs>2</num_wheel_pairs>
        <!-- wheels0 -->
        <left_joint>left_back_joint</left_joint>
        <right_joint>right_back_joint</right_joint>
        <!-- wheels1-->
        <left_joint>left_front_joint</left_joint>
        <right_joint>right_front_joint</right_joint>
        <!-- kinematics -->
        <wheel_separation>0.21532</wheel_separation>
        <wheel_separation>0.21532</wheel_separation>
        <wheel_diameter>0.06985</wheel_diameter>
        <wheel_diameter>0.06985</wheel_diameter>
        <!-- limits -->
        <max_wheel_torque>20</max_wheel_torque>
        <!-- output -->
        <publish_odom>true</publish_odom>
        <publish_odom_tf>true</publish_odom_tf>
        <publish_wheel_tf>true</publish_wheel_tf>
        <odometry_frame>odom</odometry_frame>
        <publishWheelJointState>true</publishWheelJointState>
        <robot_base_frame>base_link</robot_base_frame>
        <command_topic>cmd_vel</command_topic>
    </plugin>
  </gazebo>

  <gazebo>
      <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
          <joint_name>left_back_joint</joint_name>
          <joint_name>right_back_joint</joint_name>
          <joint_name>left_front_joint</joint_name>
          <joint_name>right_front_joint</joint_name>
          <update_rate>100.0</update_rate>
          <always_on>true</always_on>
      </plugin>
  </gazebo>

  <gazebo reference="lidar_link">
      <material>Gazebo/Blue</material>
      <sensor type="gpu_ray" name="head_hokuyo_sensor">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>40</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-3.14</min_angle>
              <max_angle>3.14</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>30.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_ray_sensor.so">
          <output_type>sensor_msgs/LaserScan</output_type>
          <topic_name>scan</topic_name>
          <frame_name>lidar_link</frame_name>
        </plugin>
      </sensor>
  </gazebo>

  <gazebo reference="imu_link">
      <sensor name="br_imu" type="imu">
          <always_on>true</always_on>
          <update_rate>100</update_rate>
          <imu>
            <angular_velocity>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>2e-4</stddev>
                </noise>
              </z>
            </angular_velocity>
            <linear_acceleration>
              <x>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </x>
              <y>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </y>
              <z>
                <noise type="gaussian">
                  <mean>0.0</mean>
                  <stddev>1.7e-2</stddev>
                </noise>
              </z>
            </linear_acceleration>
          </imu>
          <plugin name="bytes_imu" filename="libgazebo_ros_imu_sensor.so">
            <ros>
                <namespace>imu</namespace>
                <remapping>~/out:=data</remapping>
            </ros>
            <initial_orientation_as_reference>false</initial_orientation_as_reference>
            <topic_name>imu</topic_name>
          </plugin>
      </sensor>
      <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="base_link">
      <material>Gazebo/White</material>
  </gazebo>

  <gazebo reference="left_back_link">
      <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="left_front_link">
      <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="right_back_link">
      <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="right_front_link">
      <material>Gazebo/Grey</material>
  </gazebo>

</launch>